.total{
    background: #274cc7;
    width: 100%;
    height: 1100px;
   
    
}

.tituloCarousel{
    
    color: rgb(0, 255, 255);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-family: 'Itim', cursive;
    font-size: 40px;
    margin-top: ;
    
}

.tituloCarousel h3{
    font-size: 40px;
}

.VEN{
    color: rgb(240, 187, 12);
}

.carouselHouse{
    width: 100%;
    height: 850px;
    border-radius: 5px;
    object-fit: cover;
    
    
    
   
    
    
}

.carouselHouse1{
    
    margin: auto;
    background: #274cc7ec;
    width: 75%;
    height: 890px;
    border: solid rgb(206, 37, 212) 20px;
    border-radius: 30px;
    margin-top: 90px;
    box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
    
    
}

.oveja{
    position: absolute;
    top: 1293px;
    left: -130px;
    width: 800px;
    height: 500px;
    z-index: 1;
}








